<!DOCTYPE html>
<html>
<head>
  <title>Open Face Chinese Poker Scoring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<%= yield %>
		<p>
			&copy; ScoreOpenFace.com <%= Date.today.year %> | Feedback? <%= link_to("@claytonlz", "http://twitter.com/claytonlz") %>
		</p>
	</div>
</body>
</html>
